body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#left {
    color: black;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#right {
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

#right div{
    transition: 1s;
}

.first {
    background-color: rgb(255, 95, 95);
}

.second {
    background-color: rgb(131, 95, 252);
}

.third {
    background-color: rgb(249, 220, 92);
}

.fourth {
    background-color: rgb(249, 157, 212);
}

nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}